{
margin: 0;
padding: 0;
}

.iframe{
border: 0;
}

.slide{
width: 100vw;
height: 100vw;
}

.wrapper{
display: flex;
flex-direction: row;
width: 400vw;
transform: rotate(90deg)translateY(-100vh);
transform-origin: top left;
}

.one{
background: #AAA7B4;
}

.dos{
background: #F4EC8B;
}

.tres{
background: #DDDBDA;
}

.cuatro{
background: #C2C2C2;
}

.cinco{
background: #FFE0D9;
}

.outer-wrapper{
width: 100vh;
height: 100vw;
transform: rotate(-90deg)translateX(-100vh);
transform-origin: top left;
overflow-y: scroll;
overflow-x: hidden;
position: absolute;
}

